*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
.container {
    margin-left: 5%;
}
a {
    text-decoration: none;
    color: #000;
}

/******************* Header *******************/
header {
    margin-bottom: 2em;
}
header, nav {
    display: flex;
    justify-content: space-between;
}
nav>div>a {
    display: block;
    padding: 40px 50px;
    font-size: 1.2em;
}
#logo {
    padding: 20px 0 0 30px;
}
nav>div>a:hover {
    color: #0065FC;
    border-top : #0065FC solid;
}

/******************* Search Form *******************/
#search>* {
    margin-bottom: 20px;
}
#searchIcon {
    display: inline;
    width: 40px;
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px 0 0 15px;
}
#searchInput {
    outline: none;
    height: 49px;
    width: 300px;
    border: 1px solid #F2F2F2;
    padding-left: 1em;  
    font-size: 1em;
    font-weight: 700;
}
#searchInput::placeholder {
    color: #000;
}
#searchBtn {
    height: 49px;
    padding: 0 20px;
    font-weight: 700;
    color: #fff;
    background: #0065FC;
    border: none;
    border-radius: 0 15px 15px 0;
    transform: translateX(-5px);
    cursor: pointer;
}
#searchBtnMobile {
    display: none;
}
/******************** Filters *******************/
#filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    font-weight: 700;
}
.filtre {
    margin: 0 25px 15px;
    cursor: pointer;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}
.filtreTitle {
    cursor: unset;
    border: none;
    padding: 10px 0;
    margin: 0;
}
.icon {
    display: inline-block;
    color: #0065FC;
    background: #DEEBFF;
    padding: 10px 13px;
    border-radius: 20px;
    transform: translateX(-9px);
}
.textFilter {
    padding-right: 15px;
}
.infos {
    display: flex;
}
.infoIcon {
    color: #0065FC;
    padding: 2px 8px;
    border : #F2F2F2 2px solid;
    border-radius: 15px;
}
.textInfo {
    margin-left: 10px;
    line-height: 26px;
}




/******************************************************************************/
/******************************* Media queries *******************************/
/******************************************************************************/

/*********** Tablettes (entre 768px et 992px) *************/ 
@media screen and (min-width: 768px) and (max-width: 992px) {
    /********* Search Form *********/
    #searchInput {
        width: 300px;
    }
    #searchBtn {
        height: 48px;
    }
    .filtre {
        margin: 0 25px 15px 0;
    }
    .filtreTitle {
        width: 100%;
        padding: 0;
    }
}

/*********** Tablettes entre 555px et 768px (iPad Mini) *************/ 
@media screen and (min-width: 555px) and (max-width: 768px) {
    #searchInput {
        width: 65%;
    }
    .filtreTitle {
        width: 100%;
    }
    .filtre {
        margin: 0 30px 10px 0;
    }
}

/*********** Mobiles entre 541px et 555px (Surface Duo) *************/ 
@media screen and (min-width: 541px) and (max-width: 555px) {
    #searchInput {
        width: 65%;
    }
    .filtreTitle {
        width: 100%;
    }
    .filtre {
        margin: 0 25px 15px 0;
    }
}

/********* Mobiles (en dessous de 555px) ***********/

@media screen and (max-width: 540px) {
    .container {
        margin: 0;
    }
    /********** Header **********/
    header {
        flex-direction: column;
    }
    #logo {
        text-align: center;
        margin-left: 50px;
    }
    nav {
        border-bottom: #F2F2F2 5px solid;
    }
    nav>div {
        width: 50%;
        text-align: center;
    }
    nav>div>a {
        padding: 20px 0;
    }
    nav>div>a:hover {
        border-top : none;
        margin-bottom: -5px;
        border-bottom: #0065FC 5px solid;
    }
    /********* Search Form *********/
    #search h2, #search p {
        margin-left: 20px;
        text-align: left;
    }
    #search {
        text-align: center;
        /* margin : 0 20px; */
    }
    #searchInput::placeholder {
        font-size: .8em;
    }
    #searchInput {
        height: 50px;
        width: 65%;
    }
    #searchBtn {
        display: none;
    }
    #searchBtnMobile {
    display: inline;
    height: 49px;
    padding: 0 17px;
    font-weight: 700;
    color: #fff;
    background: #0065FC;
    border: none;
    border-radius: 15px;
    transform: translateX(-15px);
    cursor: pointer;
    }
    /********* Filters *********/
    .filtreTitle {
        width: 100%;
        margin-left: 25px;
    }
    .infos {
        margin: 0 20px 20px 20px;
    } 
    .infoIcon {
        padding: 1px 15px;
        border-radius: 20px;
        line-height: 2;
        height: 40px;
    }
}


/* En dessous de 300px (Galaxy Fold) */
@media screen and (max-width: 300px) {
    /* Header */
    nav {
        display: block;
        border-bottom: 0;
    }
    nav>div {
        border-bottom: #F2F2F2 3px solid;
        width: 100%;
    }
    nav>div>a:hover {
        border-top : none;
        margin-bottom: -3px;
        border-bottom: #0065FC 3px solid;
    }
    /* Search Form */
    #search {
        margin: 0;
    }
    #searchInput {
        height: 49px;
        width: 55%;
        border: #f2f2f2 1px solid;
    }
    #searchIcon {
        margin-left: 10px;
    }
}
